.logo-img{
    width:150px;
}

.fuente{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

.footer{
    position: relative;;
}

html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  } 
  
  footer {
    margin-top: auto;
  }

  .micarrito{
    width:30px;
  }

col{
  display: flex;
  align-items: center;
}

.contenedor{
  text-align: center;
}
